# .gitignore

# Ігноруємо віртуальне середовище
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ігноруємо файли з секретними даними
.env

# Ігноруємо файли IDE та системні файли
.vscode/
.idea/
*.DS_Store

# Ігноруємо локальні дані
data/